body {
    font-family: Roboto;
    margin: 0;
}

a {
    text-decoration: none;
    
}


.hero, nav {
    background: #1F2937;
    
}

nav{
    
    padding: 10px 120px 10px 120px;
    
    
}

ul {
    display: flex;
    align-items: baseline;
    list-style-type: none;
    padding: 0;
    gap:20px
}

.logo {
    margin-right: auto;
}
.logo a {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
}
.link a, .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero{
    padding: 60px 120px 70px 120px;
    display:flex;
    gap:50px;
    
}

strong {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#heroimg {
    width: auto;
    height: 400px;
    flex-shrink: 0;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 8px 0;
  border: 0;
  background: #3882F6;
  color: #F9FAF8;

}

.random-info strong{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.random-info ul{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.random-info li{
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    gap:18px;
    
}
.random-info img {
    height: 200px;
    width: 200px;
    border: #3882F6 solid 5px;
    border-radius: 30px;
    
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 60px 240px 70px 240px;
}

.quote em{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote strong {
    color: #1F2937;
    align-self: flex-end;
    font-size: 20px;
}